@charset "UTF-8";
form#write-form {
  width: 80%;
  margin: 10px auto;
}
form#write-form fieldset {
  border: 1px solid purple;
  border-radius: 10px;
}
form#write-form legend {
  color: purple;
  margin: 5px;
  padding: 5px;
}
form#write-form label {
  display: inline-block;
  width: 20%;
  padding: 4px;
  margin: 4px;
  color: purple;
  text-align: right;
  font-weight: bold;
}
form#write-form input {
  display: inline-block;
  width: 70%;
  padding: 4px;
  margin: 4px;
}
form#write-form textarea {
  width: 70%;
}

div.button-box {
  text-align: right;
}

form#write-form .button-box button {
  color: white;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 10px 16px;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  box-shadow: 2px 2px 2px rbga(0, 0, 0, 0.5);
}

button#list {
  background-color: orange;
}

button#save {
  background-color: brown;
}
